.body{
  background-color: #000000; 
}


.girafas {
  height: 28rem;
  width: 26rem;
  margin-bottom: 3rem;
}


.container_girafas {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}


.white {
  color: #ffffff;
  margin-left: 2rem;
  margin-bottom: 6rem;
  font-family: 'Quattrocento', serif;
  font-size: 1rem;
}


.white1 {
  color: #ffffff;
  background-color: #9EA0FF;
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-family: 'Tenor Sans', sans-serif;
}


.titulo_página {
  color: #ffffff;
  font-family: 'Quattrocento', serif;
  font-size: 6rem;  
}

.abertura{
  display: flex;
  justify-content: center;
  padding: 4rem;
  color: #ffffff;
}

@media(max-width: 360px){

  .abertura{
  }

  .titulo_página {
    position: relative;
    top: 2.5rem;
    color: #ffffff;
    font-family: 'Quattrocento', serif;
    font-size: 4rem;  
  }


  .white {
    color: #ffffff;
    margin-left: 2rem;
    margin-bottom: 6rem;
    font-family: 'Quattrocento', serif;
    font-size: 1.5rem;
  }


  .white1 {
    color: #ffffff;
    background-color: #9EA0FF;
    background-size: 200% 30%
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-family: 'Tenor Sans', sans-serif;
  }

  .body{
    background-color: #000000; 
    size: 800px 1280px
  }
}