.body{
  background-color: #000000); 
}
.girafas {
  height: 28rem;
  width: 26rem;
  margin-bottom: 3rem;
}

.container_girafas {
  display: flex;
  justify-content: space-around;
}


.white {
  color: #ffffff;
  margin-bottom: 4rem;
  font-family: 'Quattrocento', serif;
  font-size: 1rem;
  
}

.white1 {
  color: #ffffff;
  background-color: #9EA0FF;
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-family: 'Tenor Sans', sans-serif;
}


.titulo_página {
  color: #ffffff;
  font-family: 'Quattrocento', serif;
  font-size: 6rem;

  
}

.abertura{
  display: flex;
  justify-content: center;
  padding: 15rem;
  color: #ffffff;


}
